{:name    "doom-molokam"
 :doc     "A dark, vibrant theme inspired by Textmate's Monokai."
 :extends "structural"

 :palette
 {:bg        ["#000000" "#000000" "black"]
  :fg        ["#d6d6d4" "#d7d7d7" "brightwhite"]
  :bg-alt    ["#181719" "#1c1c1c" "black"]
  :fg-alt    ["#556172" "#5f5f5f" "brightblack"]
  :base0     ["#000000" "#000000" "black"]
  :base1     ["#181719" "#1c1c1c" "black"]
  :base2     ["#2a292b" "#262626" "black"]
  :base3     ["#39383a" "#3a3a3a" "brightblack"]
  :base4     ["#454446" "#444444" "brightblack"]
  :base5     ["#808080" "#808080" "brightblack"]
  :base6     ["#999999" "#9e9e9e" "white"]
  :base7     ["#b3b3b3" "#b2b2b2" "white"]
  :base8     ["#ffffff" "#ffffff" "brightwhite"]
  :grey      ["#525254" "#4e4e4e" "brightblack"]
  :red       ["#e74c3c" "#d75f5f" "brightred"]
  :orange    ["#d44478" "#d75f87" "brightred"]
  :green     ["#79df60" "#87d75f" "brightgreen"]
  :teal      ["#79df60" "#87d75f" "brightgreen"]
  :yellow    ["#c5d474" "#afd787" "brightyellow"]
  :blue      ["#82aaff" "#87afff" "brightblue"]
  :dark-blue ["#727280" "#767676" "brightblack"]
  :magenta   ["#d44479" "#d75f87" "brightred"]
  :violet    ["#9c91e4" "#af87d7" "brightblue"]
  :cyan      ["#76d7eb" "#87d7d7" "brightcyan"]
  :dark-cyan ["#8fa1b3" "#9e9e9e" "white"]
  :lavender  ["#8d54a8" "#875faf" "magenta"]}

 :roles
 {:highlight            :magenta
  :vertical-bar         [:lighten :bg 0.1]
  :selection            :base5
  :builtin              :magenta
  :comments             :base5
  :doc-comments         [:lighten :base5 0.25]
  :constants            :magenta
  :functions            :green
  :keywords             :lavender
  :methods              :cyan
  :operators            :violet
  :type                 :cyan
  :strings              :yellow
  :variables            :blue
  :numbers              :violet
  :region               :base2
  :error                :red
  :warning              :yellow
  :success              :green
  :vc-modified          :cyan
  :vc-added             [:darken :green 0.15]
  :vc-deleted           :red
  :modeline-fg          :fg
  :modeline-fg-alt      :base4
  :modeline-bg          :base1
  :modeline-bg-inactive [:darken :base1 0.6]
  :org-quote            [:lighten :bg 0.05]}

 :families
 {:rainbow [:lavender :magenta :green :cyan :lavender :magenta :green]
  :outline [:lavender :magenta]}

 :faces {}

 :vars {}}
