*#*
*.swp
*archives/
*auto-save-list/
*bookmarks*
*cache
*passwords/
*recentf*
*tramp*
*url/
*xmonad-x86_64-linux
*xmonad.errors
*xmonad.hi
*xmonad.o
*xmonad.state
*~
emacs.d/smex-items
emacs.d/transient/
nov-places
private-conf.el
private-init.el
private.nix
result
offlineimap/*
!offlineimap/decrypt.py