*#*
*~
*.swp
*archives/
*auto-save-list/
*cache
*recentf*
*url/
*tramp*
*bookmarks*
emacs.d/smex-items
emacs.d/transient/
nov-places
private.nix
private-conf.el
private-init.el
result
*xmonad-x86_64-linux
*xmonad.errors
*xmonad.hi
*xmonad.o
*xmonad.state