[;; MAIN LAYER
 {:title :main-lay
  :layout
  {:left
   {:main
    [[:kc-pgdn :kc-pgup :kc-media-prev-track :kc-media-next-track :kc-media-play-pause]
     [:kc-q :kc-w :kc-f :kc-p :kc-g]
     [:kc-a :kc-r :kc-s :kc-t :kc-d]
     [:kc-z :kc-x :kc-c :kc-v :kc-b]]
    :outer
    [:kc-no :kc-tab [:lt :symbol-lay :kc-lbracket] :kc-lspo]
    :inner
    [[:lctl :kc-q] [:lgui :kc-x] :kc-capslock]
    :bottom
    [:kc-hypr :kc-lalt [:lsft :kc-lalt] :kc-meh :kc-lgui]
    :thumb
    {:top   [:kc-no :kc-no]
     :main  [:kc-space [:lt :number-lay :kc-esc]]
     :inner [:kc-no :kc-lctl]}}
   :right
   {:main
    [[:kc-audio-mute :kc-audio-vol-up :kc-audio-vol-down [:lgui :kc-kp-plus] [:lgui :kc-minus]]
     [:kc-j :kc-l :kc-u :kc-y :kc-coln]
     [:kc-h :kc-n :kc-e :kc-i :kc-o]
     [:kc-k :kc-m :kc-comma :kc-dot :kc-slash]]
    :outer
    [:kc-no :kc-delete [:lt :symbol-lay :kc-rbracket] :kc-rspc]
    :inner
    [:kc-no :kc-app :kc-no]
    :bottom
    [:kc-lgui :kc-meh [:lsft :kc-lalt] :kc-lalt :kc-hypr]
    :thumb
    {:top   [:kc-no :kc-no]
     :main  [[:lt :number-lay :kc-enter] :kc-bspace]
     :inner [:kc-no :kc-lctl]}}}}

 ;; SYMBOL LAYER
 {:title :symbol-lay
  :layout
  {:left
   {:main
    [[:kc-no :kc-no :kc-no :kc-no :kc-no]
     [:kc-dlr :kc-circ :kc-hash :kc-unds :kc-no]
     [:kc-plus :kc-asterisk :kc-equal :kc-minus :kc-ques]
     [:kc-left :kc-down :kc-up :kc-right :kc-no]]
    :outer
    [:kc-no :kc-no :kc-trns :kc-lcbr]
    :inner
    [:kc-no :kc-no :kc-no]
    :bottom
    [:kc-no :kc-no :kc-no :kc-no :kc-no]
    :thumb
    {:top   [:kc-no :reset]
     :main  [:kc-no :kc-no]
     :inner [:kc-no :kc-no]}}
   :right
   {:main
    [[:kc-no :kc-no :kc-no :kc-no :kc-no]
     [:kc-no :kc-at :kc-perc :kc-pipe :kc-scolon]
     [:kc-exlm :kc-quote :kc-dquo :kc-grave :kc-tild]
     [:kc-no :kc-ampr :kc-labk :kc-rabk :kc-bslash]]
    :outer
    [:kc-no :kc-no :kc-trns :kc-rcbr]
    :inner
    [:kc-no :kc-no :kc-no]
    :bottom
    [:kc-no :kc-no :kc-no :kc-no :kc-no]
    :thumb
    {:top   [:kc-f-13 :kc-no]
     :main  [[:to :wc3-lay] :kc-no]
     :inner [:kc-no :kc-no]}}}}

 ;; NUMBER LAYER
 {:title :number-lay
  :layout
  {:left
   {:main
    [[:kc-f-1 :kc-f-2 :kc-f-3 :kc-f-4 :kc-f-5]
     [[:lalt :kc-1] [:lalt :kc-2] [:lalt :kc-3] [:lalt :kc-4] [:lalt :kc-5]]
     [:kc-1 :kc-2 :kc-3 :kc-4 :kc-5]
     [[:lsft [:lalt :kc-1]] [:lsft [:lalt :kc-2]] [:lsft [:lalt :kc-3]] [:lsft [:lalt :kc-4]] [:lsft [:lalt :kc-5]]]]
    :outer
    [[:lctl [:lsft :kc-j]] :kc-no :kc-no :kc-lctl]
    :inner
    [[:lgui [:lsft :kc-c]] :kc-no :kc-no]
    :bottom
    [:kc-no :kc-lalt :kc-no :kc-no :kc-no]
    :thumb
    {:top   [:kc-no :kc-no]
     :main  [:kc-no :kc-trns]
     :inner [:kc-no :kc-no]}}
   :right
   {:main
    [[:kc-f-6 :kc-f-7 :kc-f-8 :kc-f-9 :kc-f-10]
     [[:lalt :kc-6] [:lalt :kc-7] [:lalt :kc-8] [:lalt :kc-9] [:lalt :kc-0]]
     [:kc-6 :kc-7 :kc-8 :kc-9 :kc-0]
     [[:lsft [:lalt :kc-6]] [:lsft [:lalt :kc-7]] [:lsft [:lalt :kc-8]] [:lsft [:lalt :kc-9]] [:lsft [:lalt :kc-0]]]]
    :outer
    [:kc-f-11 :kc-f-12 :kc-no :kc-lctl]
    :inner
    [:kc-no :kc-no :kc-no]
    :bottom
    [:kc-no :kc-no :kc-no :kc-lalt :kc-no]
    :thumb
    {:top   [:kc-no :kc-no]
     :main  [:kc-trns :kc-no]
     :inner [:kc-no :kc-no]}}}}

 ;; WC3 LAYER
 {:title :wc3-lay
  :layout
  {;; battle hand
   :left
   {:main
    [[:kc-1 :kc-2 :kc-3 :kc-4 :kc-5]
     [:kc-q :kc-w :kc-f :kc-p :kc-g]
     [:kc-a :kc-r :kc-s :kc-t :kc-d]
     [:kc-z :kc-x :kc-c :kc-v :kc-b]]
    :outer
    [:kc-lctl :kc-tab :kc-bspace :kc-lspo]
    :inner
    [:kc-6 :kc-7 :kc-8]
    :bottom
    [:kc-f-1 :kc-f-2 :kc-f-3 :kc-lalt :kc-lctl]
    :thumb
    {:top   [:kc-9 :kc-0]
     :main  [:kc-spc [:lt :wc3-aux-lay :kc-esc]]
     :inner [:kc-bspace :kc-lsft]}}
   ;; aux hand
   :right
   {:main
    [[:kc-audio-mute :kc-audio-vol-up :kc-audio-vol-down [:lgui :kc-plus] [:lgui :kc-minus]]
     [:kc-j :kc-l :kc-u :kc-y :kc-coln]
     [:kc-h :kc-n :kc-e :kc-i :kc-o]
     [:kc-k :kc-m :kc-comma :kc-dot :kc-slash]]
    :outer
    [[:to :main-lay] :kc-delete [:lt :symbol-lay :kc-rbracket] :kc-f-15]
    :inner
    [[:to :sc2-lay] :kc-app :kc-no]
    :bottom
    [:kc-lgui :kc-lalt :kc-meh :kc-hypr :kc-f-16]
    :thumb
    {:top   [:kc-f-14 :kc-no]
     :main  [[:lt :number-lay :kc-enter] :kc-bspace]
     :inner [:kc-no :kc-lctl]}}}}

 ;; WC3 AUX LAYER
 {:title :wc3-aux-lay
  :layout
  {:left
   {:main
    [[:kc-no :kc-no :kc-no :kc-no :kc-no]
     [:kc-no :kc-p-1 :kc-p-4 :kc-p-7 :kc-no]
     [:kc-no :kc-f-3 :kc-f-2 :kc-f-1 :kc-no]
     [:kc-no :kc-p-2 :kc-p-5 :kc-p-8 :kc-no]]
    :outer
    [:kc-no :kc-no :kc-del :kc-ins]
    :inner
    [:kc-no :kc-no :kc-no]
    :bottom
    [:kc-no :kc-no :kc-no :kc-no :kc-no]
    :thumb
    {:top   [:kc-no :kc-no]
     :main  [:kc-no :kc-no]
     :inner [:kc-no :kc-no]}}
   :right
   {:main
    [[:kc-no :kc-no :kc-no :kc-no :kc-no]
     [:kc-no :kc-no :kc-no :kc-no :kc-no]
     [:kc-no :kc-no :kc-no :kc-no :kc-no]
     [:kc-no :kc-no :kc-no :kc-no :kc-no]]
    :outer
    [:kc-no :kc-no :kc-no :kc-no]
    :inner
    [:kc-no :kc-no :kc-no]
    :bottom
    [:kc-no :kc-no :kc-no :kc-no :kc-no]
    :thumb
    {:top   [:kc-no :kc-no]
     :main  [:kc-no :kc-no]
     :inner [:kc-no :kc-no]}}}}

 ;; SC2 LAYER
 {:title :sc2-lay
  :layout
  {:left
   {:main
    [[:kc-1 :kc-2 :kc-3 :kc-4 :kc-5]
     [:kc-q :kc-w :kc-f :kc-p :kc-g]
     [:kc-a :kc-r :kc-s :kc-t :kc-d]
     [:kc-z :kc-x :kc-c :kc-v :kc-b]]
    :outer
    [:kc-esc :kc-tab :kc-lbracket :kc-rbracket]
    :inner
    [:kc-6 :kc-home :kc-quote]
    :bottom
    [[:lca :kc-no] :kc-meh :kc-8 :kc-9 [:s :kc-lctl]]
    :thumb
    {:top   [:kc-meh [:lca :kc-no]]
     :main  [:kc-lsft :kc-lctl]
     :inner [[:lsa :kc-no] :kc-lalt]}}
   :right
   {:main
    [[:kc-audio-mute :kc-audio-vol-up :kc-audio-vol-down [:lgui :kc-plus] [:lgui :kc-minus]]
     [:kc-j :kc-l :kc-u :kc-y :kc-coln]
     [:kc-h :kc-n :kc-e :kc-i :kc-o]
     [:kc-k :kc-m :kc-comma :kc-dot :kc-slash]]
    :outer
    [[:to :main-lay] :kc-delete :kc-rbracket :kc-rspc]
    :inner
    [:kc-no [:lgui :kc-spc] :kc-no]
    :bottom
    [:kc-lgui :kc-lalt :kc-meh :kc-hypr :kc-no]
    :thumb
    {:top   [:kc-no :kc-no]
     :main  [:kc-enter :kc-bspace]
     :inner [:kc-no :kc-no]}}}}]
