[;; MAIN LAYER
 {:title :main-lay
  :layout
  {:left
   {:main
    [[:kc-pgdn :kc-pgup :prev :next :pl-ps]
     [:kc-q :kc-w :kc-f :kc-p :kc-g]
     [:kc-a :kc-r :kc-s :kc-t :kc-d]
     [:kc-z :kc-x :kc-c :kc-v :kc-b]]
    :outer
    [:none :kc-tab [:lt :symbol-lay :kc-lbracket] :kc-lspo]
    :inner
    [[:lctl :kc-q] [:lgui :kc-x] :kc-capslock]
    :bottom
    [:kc-hypr :kc-lalt [:lsft :kc-lalt] :kc-meh :kc-lgui]
    :thumb
    {:top   [:none :none]
     :main  [:kc-space [:lt :number-lay :kc-esc]]
     :inner [:none :kc-lctl]}}
   :right
   {:main
    [[:mute :vol-up :vol-down [:lgui :kc-kp-plus] [:lgui :kc-minus]]
     [:kc-j :kc-l :kc-u :kc-y :kc-coln]
     [:kc-h :kc-n :kc-e :kc-i :kc-o]
     [:kc-k :kc-m :kc-comma :kc-dot :kc-slash]]
    :outer
    [:none :kc-delete [:lt :symbol-lay :kc-rbracket] :kc-rspc]
    :inner
    [:none :kc-app :none]
    :bottom
    [:kc-lgui :kc-meh [:lsft :kc-lalt] :kc-lalt :kc-hypr]
    :thumb
    {:top   [:none :none]
     :main  [[:lt :number-lay :kc-enter] :kc-bspace]
     :inner [:none :kc-lctl]}}}}

 ;; SYMBOL LAYER
 {:title :symbol-lay
  :layout
  {:left
   {:main
    [[:none :none :none :none :none]
     [:kc-dlr :kc-circ :kc-hash :kc-unds :none]
     [:kc-plus :kc-asterisk :kc-equal :kc-minus :kc-ques]
     [:kc-left :kc-down :kc-up :kc-right :none]]
    :outer
    [:none :none :kc-trns :kc-lcbr]
    :inner
    [:none :none :none]
    :bottom
    [:none :none :none :none :none]
    :thumb
    {:top   [:none :reset]
     :main  [:none :none]
     :inner [:none :none]}}
   :right
   {:main
    [[:none :none :none :none :none]
     [:none :kc-at :kc-perc :kc-pipe :kc-scolon]
     [:kc-exlm :kc-quote :kc-dquo :kc-grave :kc-tild]
     [:none :kc-ampr :kc-labk :kc-rabk :kc-bslash]]
    :outer
    [:none :none :kc-trns :kc-rcbr]
    :inner
    [:none :none :none]
    :bottom
    [:none :none :none :none :none]
    :thumb
    {:top   [:kc-f-13 :none]
     :main  [[:to :wc3-lay] :none]
     :inner [:none :none]}}}}

 ;; NUMBER LAYER
 {:title :number-lay
  :layout
  {:left
   {:main
    [[:kc-f-1 :kc-f-2 :kc-f-3 :kc-f-4 :kc-f-5]
     [[:lalt :kc-1] [:lalt :kc-2] [:lalt :kc-3] [:lalt :kc-4] [:lalt :kc-5]]
     [:kc-1 :kc-2 :kc-3 :kc-4 :kc-5]
     [[:lsft [:lalt :kc-1]] [:lsft [:lalt :kc-2]] [:lsft [:lalt :kc-3]] [:lsft [:lalt :kc-4]] [:lsft [:lalt :kc-5]]]]
    :outer
    [:inspect-linux :none :none :kc-lctl]
    :inner
    [:inspect-mac :none :none]
    :bottom
    [:none :kc-lalt :none :none :none]
    :thumb
    {:top   [:none :none]
     :main  [:none :kc-trns]
     :inner [:none :none]}}
   :right
   {:main
    [[:kc-f-6 :kc-f-7 :kc-f-8 :kc-f-9 :kc-f-10]
     [[:lalt :kc-6] [:lalt :kc-7] [:lalt :kc-8] [:lalt :kc-9] [:lalt :kc-0]]
     [:kc-6 :kc-7 :kc-8 :kc-9 :kc-0]
     [[:lsft [:lalt :kc-6]] [:lsft [:lalt :kc-7]] [:lsft [:lalt :kc-8]] [:lsft [:lalt :kc-9]] [:lsft [:lalt :kc-0]]]]
    :outer
    [:kc-f-11 :kc-f-12 :none :kc-lctl]
    :inner
    [:none :none :none]
    :bottom
    [:none :none :none :kc-lalt :none]
    :thumb
    {:top   [:none :none]
     :main  [:kc-trns :none]
     :inner [:none :none]}}}}

 ;; WC3 LAYER
 {:title :wc3-lay
  :layout
  {;; battle hand
   :left
   {:main
    [[:kc-1 :kc-2 :kc-3 :kc-4 :kc-5]
     [:kc-q :kc-w :kc-f :kc-p :kc-g]
     [:kc-a :kc-r :kc-s :kc-t :kc-d]
     [:kc-z :kc-x :kc-c :kc-v :kc-b]]
    :outer
    [:kc-lctl :kc-tab :kc-bspace :kc-lspo]
    :inner
    [:kc-6 :kc-7 :kc-8]
    :bottom
    [:kc-f-1 :kc-f-2 :kc-f-3 :kc-lalt :kc-lctl]
    :thumb
    {:top   [:kc-9 :kc-0]
     :main  [:kc-spc [:lt :wc3-aux-lay :kc-esc]]
     :inner [:kc-bspace :kc-lsft]}}
   ;; aux hand
   :right
   {:main
    [[:mute :vol-up :vol-down [:lgui :kc-plus] [:lgui :kc-minus]]
     [:kc-j :kc-l :kc-u :kc-y :kc-coln]
     [:kc-h :kc-n :kc-e :kc-i :kc-o]
     [:kc-k :kc-m :kc-comma :kc-dot :kc-slash]]
    :outer
    [[:to :main-lay] :kc-delete [:lt :symbol-lay :kc-rbracket] :kc-f-15]
    :inner
    [[:to :sc2-lay] :kc-app :none]
    :bottom
    [:kc-lgui :kc-lalt :kc-meh :kc-hypr :kc-f-16]
    :thumb
    {:top   [:kc-f-14 :none]
     :main  [[:lt :number-lay :kc-enter] :kc-bspace]
     :inner [:none :kc-lctl]}}}}

 ;; WC3 AUX LAYER
 {:title :wc3-aux-lay
  :layout
  {:left
   {:main
    [[:none :none :none :none :none]
     [:none :kc-p-1 :kc-p-4 :kc-p-7 :none]
     [:none :kc-f-3 :kc-f-2 :kc-f-1 :none]
     [:none :kc-p-2 :kc-p-5 :kc-p-8 :none]]
    :outer
    [:none :none :kc-del :kc-ins]
    :inner
    [:none :none :none]
    :bottom
    [:none :none :none :none :none]
    :thumb
    {:top   [:none :none]
     :main  [:none :none]
     :inner [:none :none]}}
   :right
   {:main
    [[:none :none :none :none :none]
     [:none :none :none :none :none]
     [:none :none :none :none :none]
     [:none :none :none :none :none]]
    :outer
    [:none :none :none :none]
    :inner
    [:none :none :none]
    :bottom
    [:none :none :none :none :none]
    :thumb
    {:top   [:none :none]
     :main  [:none :none]
     :inner [:none :none]}}}}

 ;; SC2 LAYER
 {:title :sc2-lay
  :layout
  {:left
   {:main
    [[:kc-1 :kc-2 :kc-3 :kc-4 :kc-5]
     [:kc-q :kc-w :kc-f :kc-p :kc-g]
     [:kc-a :kc-r :kc-s :kc-t :kc-d]
     [:kc-z :kc-x :kc-c :kc-v :kc-b]]
    :outer
    [:kc-esc :kc-tab :kc-lbracket :kc-rbracket]
    :inner
    [:kc-6 :kc-home :kc-quote]
    :bottom
    [[:lca :none] :kc-meh :kc-8 :kc-9 [:s :kc-lctl]]
    :thumb
    {:top   [:kc-meh [:lca :none]]
     :main  [:kc-lsft :kc-lctl]
     :inner [[:lsa :none] :kc-lalt]}}
   :right
   {:main
    [[:mute :vol-up :vol-down [:lgui :kc-plus] [:lgui :kc-minus]]
     [:kc-j :kc-l :kc-u :kc-y :kc-coln]
     [:kc-h :kc-n :kc-e :kc-i :kc-o]
     [:kc-k :kc-m :kc-comma :kc-dot :kc-slash]]
    :outer
    [[:to :main-lay] :kc-delete :kc-rbracket :kc-rspc]
    :inner
    [:none [:lgui :kc-spc] :none]
    :bottom
    [:kc-lgui :kc-lalt :kc-meh :kc-hypr :none]
    :thumb
    {:top   [:none :none]
     :main  [:kc-enter :kc-bspace]
     :inner [:none :none]}}}}]
